################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Shifu
/.vs/Shifu---Wellness3/v17
/Shifu/Migrations/20251127222745_Updated.cs
/Shifu/Migrations/20251127222745_Updated.Designer.cs
