################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Shifu
/.vs/Shifu---Wellness3/v17
