@{
    ViewData["Title"] = "Home Page";
    
}


<div class="container-fluid vh-100 p-0">
    <div class="row vh-100 box">
        <div class="col-12 box rounded d-flex flex-column align-items-center justify-content-center h-100" style="background-image: url('bgGreen.png')" >
            <p style="color: seagreen">Find your community with</p>
            <h1 style="font-size: 78px; color: seagreen">Shifu</h1>
            <a asp-action="SignUp" class="btn btn-primary">Sign up now</a> 
            @* TODO: Add options for Signing up as mentor or recovering user *@
            <div id="spacer"></div>
            <p style="color: seagreen">Already have an account?</p>
            <a asp-action="Login" class="btn btn-outline-primary">Login</a>
        </div>
    </div>
</div>


